div{
    background-color: rgb(18, 136, 247);
}
.cc{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    color: moccasin;
}
h2{
    display: inline;
    color: oldlace;
}
h1{
    display: inline;
}
.ii{
    height: 20px;
    width: 20px;
}